body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

h1, h2, .lng-switch-btn {
    color: #314584;
}

p {
    color: #6e757a;
    font-size: 18px;
}

a, input {
    text-decoration: none;
    color: #314584;
}

body i {
    font-family: 'FontAwesome'!important;
}

section {
    height: 800px;
    margin: 5vh 0;
}

.wrapper {
    margin: 0 auto;
    width: 70%;
}

/* HEADER */

.header-wrapper {
    display: grid;
    grid-template-columns: 0% 70% 30%;
    font-weight: 600;
    margin: 30px 0;
}

.logo {
    width: 69px;
    position: relative;
    right: 100px;
    margin: auto;
}

.header-menu {
    display: flex;
    padding: 0;
    list-style: none;
    font-size: 18px;
}

.header-menu li {
    padding-right: 30px;
}

.header-menu a:hover {
    color: #ff3946;
}

.menu-buttons {
    margin: auto;
}

button {
    border: none;
    font: inherit;
    background: none;
}

.contact-btn {
    color: #ff3946;
    padding: 15px 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);    
    border: 1px solid #c3d0d8b6;
}

.contact-btn:hover {
    box-shadow: none;
}

/* MAIN */

.main {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 60px;
}

.main-wrapper {
    margin: auto 0;
}

.main-img {
    /* width: 50%; */
    height: inherit;
}

.main-header {
    font-size: 55px;
}

.main-button-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-gap: 10%;
}

.main-button-wrapper a {
    margin: auto 0;
    font-weight: bold;
}

.main-button-wrapper a:hover {
    color: #ff3946;
}

.active-btn {
    color: #ffffff;
    background-color: #ff3946;
    border-radius: 30px;
    padding: 15px 20px;
    font-weight: bold;
}
.active-btn:hover {
    background-color: #314584;
}

/* PORTFOLIO */

.portfolio {
    display: grid;
}

.portfolio-wrapper {
    width: inherit;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: repeat(2, 45%);
    grid-gap: 24px;
}

.portfolio-header {
    font-size: 45px;
}

.portfolio-item {
    background-color: #c3d0d8;
}
.portfolio-link {
    font-weight: bold;
    margin: 10px auto;
    color: #ff3946;
}

.portfolio-link:hover {
    color: #314584;
}

/* CONTACTS */
.contacts-name {    
    font-size: 18px;
    font-weight: bold;
    color: #ff3946;
    text-transform: uppercase;
}

.contacts-header {
    font-size: 45px;
    margin-top: 10px;
}

.contacts-form-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 50%);
}

.contacts-form-wrapper input {    
    background-color: #f4fafe;
    font-family: inherit;    
    font-size: 18px;
    font-weight: bolder;    
    border: none;
    padding: 10px;
}

.contacts-form-wrapper .message {
    grid-column: 1 / 3;
    grid-row: 2;
    text-align: start;    
    padding-bottom: 80px;
}
.btn-wrapper {
    grid-column: 1 / 3;
    grid-row: 3;
    text-align:center;
}
.btn-wrapper .active-btn {
    width: 200px;
}